.mat-mdc-card{
  padding: 20px;
}
.dialog-header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
  font-size: 18px;
  color: #2e3a59;
}

.dialog-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.dialog-content {
  font-size: 15px;
  color: #444;
  padding-top: 4px;

  strong {
    color: #1e88e5;
  }
}

mat-dialog-actions {
  button {
    min-width: 120px;
    font-weight: 500;
  }
}
