<mat-card>
  <mat-card-title>Iniciar Sesión</mat-card-title>
  <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="w-full">
        <mat-label>Correo electrónico</mat-label>
        <input matInput type="email" formControlName="email" #emailInput />

        <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
          El correo es obligatorio
        </mat-error>
        <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
          El formato del correo no es válido
        </mat-error>
      </mat-form-field>

      <div class="button mt-4 flex items-center gap-4">
        <button
          mat-raised-button
          type="submit"
          class="btn-primary"
          [disabled]="loginForm.invalid || isLoading"
        >
          Ingresar
        </button>

        <mat-progress-spinner
          *ngIf="isLoading"
          diameter="28"
          mode="indeterminate"
        ></mat-progress-spinner>
      </div>
    </form>
  </mat-card-content>
</mat-card>
